body
{
  background: linear-gradient(300deg, #000000, #000c00, #0f9108);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: white;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.Container-1
{
    display: flex;
    gap: 10px;
    height: 43vh;
}
.Container-2
{
    display: flex;
    gap: 10px;
    height: 43vh;
    margin-top: 10px;
}
.Shinchan
{
    flex: 1;
}
.Doraemon
{
    flex: 1;
}
.Jackiechan
{
    flex: 1;
}
.Chhota-Bheem
{
    flex: 1;
}
.Ben-10
{
    flex: 1;
}
.Tom
{
    flex: 1;
}
.Ninja-Hattori
{
    flex: 1;
}
.Oggy
{
    flex: 1;
}
div > div > div
{
    display: inline-block flex;
    justify-items: center;
}
a > img
{
    width: 100%;
    height: 75%;
    border-radius: 10%;
}
h2
{
    margin: 10px;
}
@media (min-width: 100px) and (max-width: 991px)
{
   .Container-1
   {
      height: 600px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
   }
   .Container-2
   {
      height: 600px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-top: 10px;
   }
}